{% extends 'base.html.twig' %}
    {% block body %}

    <div class="container">
        <br />
        <br />
        <br />
        <div class="row fond">
            <div class="col-xs-12 text-center">
                <h3>Film sur les "Poilus" de 14/18 le: 12 Décembre </h3></div>
            <div class="col-xs-4"> <img src="{{ asset('bundles/patrimoine/img/affiche_film_14-18.jpg') }}" alt="affiche 14-18" class="thumbnail img_tmp" /> </div>
            <div class="col-xs-8">
                <h3>description:</h3>
                <p class="text-justify">Le film ainsi réalisé est le travail d’une équipe de l’association « Perche Communication » spécialisée dans l’audio-visuel. Il est le recueil d’une dizaine de témoignages de descendants de poilus percherons ou habitants dans le Perche aujourd’hui. Ce film documentaire alterne des images d’archives, de lieux de mémoire et de témoignages. Long métrage de 57 minutes il est réalisé de la même façon qu’un film professionnel avec un scénario, des séquences filmées, des personnages et des voix off et tout un travail de montage effectué par les membres de l’association. Ce film, labellisé par la mission du Centenaire, participe des commémorations de la Grande Guerre sur le plan national et il est projeté dans le Perche bien sûr mais aussi ailleurs en France et en particulier dans le Nord où l’équipe s’était rendue pour filmer le site de Notre-Dame de Lorette. Les témoins interrogés ont pu faire remonter à la surface de leurs souvenirs des émotions souvent encore fortes lorsqu’ils évoquaient leur ancêtres morts ou blessés dans cette guerre qui devait être la dernière. C’est l’enseignement de ce film qui montre la grande blessure que fût ce massacre de 14/18 qui atteignît la majeure partie des familles françaises et dont le souvenir perdure avec force. Pour réaliser ce film, des heures d’interviews ont été nécessaires mais les rencontres avec ces personnes volontaires ont enrichi la vision des évènements de cette guerre. Cet enrichissement vient essentiellement de ce qu’ont rapporté ces témoins des Poilus vivant ou ayant vécu dans le Perche qui n’était pas un champ de bataille. C’est donc une vision du quotidien hors du front puis des faits de guerre qu’ont bien voulu leur raconter ces « Poilus » car l’autre élément essentiel c’est bien les propos même évoqués par ces soldats qui ne sont pas ceux de l’histoire avec un grand H ni des descriptions des opérations militaires, certes précises, mais ne retraçant pas l’horreur et le ressenti de ces hommes. Enfin, les témoignages recueillis évoquent un éventail large des évènements : les morts et les blessés, les fusillés, les combats dans les tranchées, les retours à la maison, la guerre au Moyen-Orient etc….. En quelques interviews un portrait de cette guerre est brossé dans beaucoup de ses facettes et c’est cela qui donne aussi au film cette puissance d’évocation et cette émotion devant tous ces destins meurtris. </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row fond">
            <div class="col-xs-12 text-center">
                <h3>39/45 LE PERCHE EN PARLE le: vendredi 4 mars 2016 </h3></div>
            <div class="col-xs-4"> <img src="{{ asset('bundles/patrimoine/img/affiche_film_39-45.jpg') }}" alt="affiche 39-45" class="thumbnail img_tmp" /> </div>
            <div class="col-xs-8">
                <h3>description:</h3>
                <p class="text-justify"> INVITATION Les membres de Perche Communication seront heureux de vous accueillir le vendredi 4 mars 2016 à 15h15 ou 20h45 au cinéma Le REX de Nogent le Rotrou pour vous présenter leur dernier film : 39/45 LE PERCHE EN PARLE Des témoignages de Percherons sur l’exode, les bombardements, les camps de déportation, la résistance, le maquis… perche.com@sfr.fr Entrée gratuite dans la limite des places disponibles </p>
            </div>
        </div>
        <br />
        <br />
        <div class="row fond">
            <div class="col-xs-12 text-center">
                <h3>Titre fictif le: samedi 42 decembre 2016 </h3></div>
            <div class="col-xs-8">
                <h3>description:</h3>
                <p class="text-justify"> Texte fictif à propos de l'evenement qui va de pair avec la photos se trouvant sur la gauche.</p>
            </div>
            <div class="col-xs-4"> <img src="{{ asset('bundles/patrimoine/img/concert_19_sept_Thiron.jpg') }}" alt="concert" class="thumbnail img_tmp" /> </div>
        </div>
        <br /> </div>


    {% endblock %}